.card-container {
  width: 100%;

  & .blog-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & li:nth-of-type(2n+2) {
      margin-right: 0;
    } 

    & .blog-card {
      position: relative;
      margin: 20px 20px 0 0;
      width: calc((100% - 20px) / 2);
      height: 200px;
      background: var(--hdrftr-bg);
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: background 0.2s;
      }

      & a {
        padding: 15px;
        text-align: center;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.2s;
      }

      &:hover {

        &::before {
          background: rgba(0, 0, 0, 0.5);
          transition: background 0.2s;
        }

        & a {
          opacity: 1;
          transition: opacity 0.2s;
        }
      }
      

      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        color: var(--nav-text);
        z-index: 2;
      }
    }
  }
}

@media (min-width: $vpminw-tablet) {
  .card-container .blog-cards {

    & li:nth-of-type(2n+2) {
      margin-right: 20px;
    }

    & li:nth-of-type(3n+3) {
      margin-right: 0;
    }

    & .blog-card {
      width: calc((100% - 40px) / 3);
      background: url(https://source.unsplash.com/random/400x400);

      a {
        opacity: 0;
      }
    }
  }

}
