.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 35vh;
  min-height: 200px;

  // & .navigation {

  // }

  & .banner-image {
    display: flex;
    align-items: flex-end;
    height: 100%;
    background: url(https://source.unsplash.com/random) center center / cover no-repeat;

    & .title {
      margin-left: $wrprlr-mobile;
      line-height: 0.7em;
      font-family: $header-text;
      text-transform: uppercase;
      color: var(--pg-title);
    }
  }
}

footer {
  background: #2c2c2c;
  color: #fff;
}

@media (min-width: $vpminw-mdrnmbl) {

}

@media (min-width: $vpminw-tablet) {

}

@media (min-width: $vpminw-desktop) {
  .hero-banner {
    & .banner-image {
      & .title {
        margin-left: $wrprlr-tablet;
        font-size: 10rem;
      }
    }
  }
}
@media (min-width: $vpminw-lrgscrn) {

}
