.top-menu {
  display: flex;
  flex-direction: row;
}

.sub-menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin: 5px 10px;
  padding: 5px 0;

  & .menu-link {
    padding: 5px 10px;
    text-transform: capitalize;
  
    &:hover {
      color: var(--link-hover);
    }
  }
}
