@import "partials/setup";
@import "partials/global";
@import "partials/home";
@import "partials/headerFooter";
@import "partials/navigation";
@import "partials/blogcards";
@import "partials/blogpost";
@import "partials/bloglist";
@import "partials/editor";
